body {
    font-family: "Source Sans Pro", "Lucida Grande", Calibri, Helvetica,
        sans-serif;
    max-width: 750px;
    margin: auto;
}

#header {
    display: flex;
    justify-content: space-between;
}

.profile-picture {
    object-fit: cover;
    width: auto;
    height: auto;
    max-width: 20%;
    max-height: 100%;
    margin-top: 23px;
    border-radius: 10%;
}

#github-logo {
    padding: 0 2px;
    vertical-align: text-bottom;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}
li {
    margin-bottom: 0.3em;
}
